/* Add this to styles.css */
select {
    -webkit-appearance: none;
    appearance: none;
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

input[readonly] {
    background-color: #f4f4f4;
    cursor: not-allowed;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    font-size: 26px;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin: 15px 0 5px;
}

input,
select {
    -webkit-appearance: none;
    appearance: none;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    color: #ecf0f1;
    font-size: 24px;
    background-color: #e67e22;
    border: 1px solid #f39c12;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0px 6px 0px #d35400;
    transition: all 0.1s;
    margin-top: 20px;
}

button:active {
    box-shadow: 0px 2px 0px #d35400;
    position: relative;
    top: 2px;
}

input[readonly] {
    background-color: #f4f4f4;
    cursor: not-allowed;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    
    width: 100%;
    bottom: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 50px;
    }

    main {
        padding: 10px;
    }

    section {
        padding: 15px;
    }

    label {
        margin: 10px 0 5px;
    }

    input,
    select {
        -webkit-appearance: none;
        appearance: none;
        background-color: #eee;
        border: none;
        padding: 1rem;
        font-size: 1rem;
        width: 100%;
        border-radius: 1rem;
        color: lightcoral;
        box-shadow: 0 0.4rem #dfd9d9;
        cursor: pointer;
    }

    button {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 30px;
    }

    main {
        padding: 5px;
    }

    section {
        padding: 10px;
    }

    label {
        margin: 8px 0 5px;
    }

    input,
    select {
        -webkit-appearance: none;
        appearance: none;
        background-color: #eee;
        border: none;
        padding: 1rem;
        font-size: 1rem;
        width: 100%;
        border-radius: 1rem;
        color: lightcoral;
        box-shadow: 0 0.4rem #dfd9d9;
        cursor: pointer;
    }

    button {
        padding: 6px;
    }
}

/* Custom Styles for Estimated Yield and Total Wet Ear */
#result,
#totalWetEar,
#population {
    font-size: 24px; /* Bigger font size */
    margin: 10px 0; /* Add some spacing */
}

/* Custom Styles for Highlighted Numbers */
.highlight-number {
    color: orange; /* Red color for numbers */
    font-size: 24px; /* Bigger font size for numbers */
    font-weight: bold; /* Bold text for numbers */
}

/* From Uiverse.io by adamgiebl */ 
.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}
  
  .input-wrapper input:focus {
    outline-color: lightcoral;
}